.body-home {
    background-image: url(./visit.jpg);
    background-size: cover;
    background-position: right;
    height: 100vh;
    background-attachment: fixed;
}

figure.overwrite-width-10rem {
	width: 10rem;
}

.footer.is-transparent {
    background-color: transparent !important;
}

span.transparent-tile {
	color: #000000;
    background: rgba(76, 175, 80, 0.5);
}
